@page "/Account/AccessDenied"
@layout Layout.AccountAuthLayout

<PageTitle>Accesso negato</PageTitle>

<RadzenStack Gap="1rem" AlignItems="AlignItems.Center">
    <RadzenIcon Icon="block" Style="font-size:3rem;color:#e53935;" />
    <div class="auth-title" style="font-size:1.6rem;">Accesso negato</div>
    <div class="auth-subtitle">Non hai i permessi per questa risorsa.</div>
    <a href="/" style="color:#fff;text-decoration:none;">
        <RadzenButton Text="Torna alla Home" ButtonStyle="ButtonStyle.Primary" Icon="home" Style="width:100%;" />
    </a>
</RadzenStack>
